@import url('https://fonts.googleapis.com/css2?family=Quando&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

#hero {
    background: url("/assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 20px;

}

#hero .hero-content {
    width: 100%;
}